@model GST_Program.Domain.Models.BadgeHistory
@{
    ViewBag.Title = "Give Badge";
}

<h2>Give Badge</h2>

<div class="container">
    @using (Html.BeginForm()) {
        <div class="form-group">
            <table class="table">
                <tr>
                    <td>Badge</td>
                    <td>
                        <input type="text" class="form-control" id="badgeSearch" name="badge" placeholder="Badge..." />
                    </td>
                </tr>
                <tr>
                    <td>Who Are You?: </td>
                    <td>
                        <input type="text" class="form-control" id="personSearch" name="giver" placeholder="Giver..." />
                    </td>
                </tr>
                <tr>
                    <td>Send it to: </td>
                    <td>
                        <input type="text" class="form-control" id="personSearch" name="receiver" placeholder="Receiver..." />
                    </td>
                </tr>
                <tr>
                    <td>
                        Comment: 
                    </td>
                    <td>
                        @Html.TextArea("Comment", "", new { placeholder = "Comment...", @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-default" type="submit" value="Save" />
                        <input class="btn btn-default" type="button" value="Cancel" onclick="window.location='/Admin/BadgeBank/';" />
                    </td>
                </tr>
            </table>
        </div>     
    }
</div>