@model GST_Program.Domain.Models.BadgeHistory
@{
    ViewBag.Title = "Give Badge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Give Badge</h2>

<div class="container">
    @using (Html.BeginForm("GiveBadge", "Tree", FormMethod.Post, new { id="giveBadge" })) {
        <div class="form-group">
            <table class="table">
                <tr>
                    <td>Badge</td>
                    <td>
                        @{  var sliBadges = new List<SelectListItem>();
                            foreach (var b in ViewBag.Badges) {
                                var item = new SelectListItem { Text = b.Badge_Name, Value = ""+b.Badge_ID };
                                sliBadges.Add(item);
                            }
                        }
                        @Html.DropDownList("badge", sliBadges, "", new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>Send it to: </td>
                    <td>
                        <input type="text" class="form-control" id="personSearch" name="receiver" placeholder="Receiver..." />
                    </td>
                </tr>
                <tr>
                    <td>
                        Comment: 
                    </td>
                    <td>
                        @Html.TextArea("Comment", "", new { placeholder = "Comment...", @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-default" type="submit" value="Send" />
                        <input class="btn btn-default" type="button" value="Cancel" onclick="parent.history.back()" />
                    </td>
                </tr>
            </table>
        </div>     
    }
</div>


@section inlineScript {
    <script>
        function addGiver(theForm, key, value) {
            // Create a hidden input element, and append it to the form:
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = key; 'name-as-seen-at-the-server';
            input.value = value;
            theForm.appendChild(input);
        }

        var giveBadgeForm = document.forms["giveBadge"];

        addGiver(giveBadgeForm, "giver", sessionStorage.profileName);
    </script>
}
