@model List<GST_Program.Domain.Models.BadgeHistory>

@{
    ViewBag.Title = "GridView";
}

<table class="table">
    <tr>
        <th>Badge</th>
        <th>Sender</th>
        <th>Image</th>
    </tr>
@foreach (var badge in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => badge.Badge_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => badge.Giver_ID)
        </td>
        <td>
            @if (badge.Badge != null) {
                <img id="BadgeImage" src="@badge.Badge.Image_Address"/>
            }
        </td>
    </tr>
}
</table>