
@{
    ViewBag.Title = "Index";
}

<h2 id="user">Index</h2>

@section inlineScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.IndexModule.init();
            document.getElementById('user').innerHTML = sessionStorage.profileName;
        });
    </script>
}

