@model GST_Program.Domain.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var p in Model.people) {
        <tr>
            <td>
                @Html.DisplayFor(modelp => p.Person_ID)
            </td>
            <td>
                @Html.DisplayFor(modelp => p.Person_Name)
            </td>
        </tr>
    }
</table>