@model IEnumerable<GST_Program.Domain.Models.Person>
@{
    ViewBag.Title = "Index";
}
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1016126341501-75mpevppfg6p6q7f1ppj8g79sunpbje3.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<h2>Sign In</h2>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        sessionStorage.session_id = id_token;
        console.log("session_id stored");
        sessionStorage.profileName = profile.getName();
        console.log("profile stored");
        console.log("Starting ajax function call...");
        login(profile.getEmail());
      };
      function login(email) {
          $.ajax({
              type: "POST", 
              url: "/Home/Login",
              data: { e: email},
              dataType: "json",
              success: function (response) {
                  if (response != "failed")
                     window.location.href = response;
              },
              error: function(xhr, ajaxOptions, thrownError) { alert("ERROR"); }
          });
      }

    </script>
</body>