@model List<GST_Program.Domain.Models.BadgeHistory>
@{  Layout = "~/Views/Shared/_AdminLayout.cshtml";}
<div class="row">
    <div class="col-md-12" id="resultSet">
        @if (Model != null) {
            <table class="table">
                <tr>
                    <th>Transaction</th>
                    <th>Badge Name</th>
                    <th>Giver</th>
                    <th>Receiver</th>
                    <th></th>
                </tr>
                @foreach (var b in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelb => b.Transaction_Num)
                        </td>
                        <td>
                            @Html.DisplayFor(modelb => b.Badge.Badge_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelb => b.Giver.Person_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelb => b.Receiver.Person_Name)
                        </td>
                    </tr>
}
            </table>
        } else {
            <h3 style="color:#cfcfcf;text-align:center;">No Results</h3>
        }
    </div>
</div>