@model List<GST_Program.Domain.Models.Badge>
@{
    ViewBag.Title = "Badge Bank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Badge Bank</h2>
<p>
    @Html.ActionLink("Create New", "BadgeCreate")
</p>

<div class="container">
    <div class="row">
        <input class="btn btn-default" type="submit" id="All" value="All Badges">
        <input class="btn btn-default" type="submit" id="St-Pe" value="Student-Peer">
        <input class="btn btn-default" type="submit" id="St-Se" value="Student-Self">
        <input class="btn btn-default" type="submit" id="Staff-St" value="Staff-Student">
        <input class="btn btn-default" type="submit" id="Fa-St" value="Faculty-Student">
    </div>
    <div class="row">
        <div class="container-1">
            <div id="spinner">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div id="results"></div>
    </div>
</div>

@section scriptsIncludes
{
    <script src="~/Content/Modules/BadgeBankModule.js?Build=@Guid.NewGuid().ToString()"></script>
}

@section inlineScript
{
    <script type="text/javascript">
        $(document).ready(function() {
            window.BadgeBankModule.init();
        });
    </script>
}