@model IEnumerable<GST_Program.Domain.Models.Person>
@{
    ViewBag.Title = "Index";
}

@section additionalCSS
{

}

<h2>People</h2>
<h4 id="type-display">Student</h4>

<div class="container">
    <div class="row">
        <input class="btn btn-default" type="submit" id="Student" value="Student">
        <input class="btn btn-default" type="submit" id="Faculty" value="Faculty">
        <input class="btn btn-default" type="submit" id="Staff" value="Staff">
    </div>
    <div class="row">
        <div class="container-1">
            <div id="spinner">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div id="results"></div>
    </div>
</div>

@section scriptsIncludes
{
    <script src="~/Content/IndexModule.js?Build=@Guid.NewGuid().ToString()"></script>
}

@section inlineScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.IndexModule.init();
        });
    </script>
}